.readable-hidden{
  position:absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  left:-9999;
}
.wrapper{
  width:960px;
  border: 1px solid black;
  list-style: none;
  position:relative;
}
.blog-info-conetents{
  height:10px;
}


.pic-cap{
  text-align: center;
  float:left;
  margin:0;
  padding: 0;
}
.cardphoto ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
.cardphoto ul::after{
  content:"";
  display: block;
  clear: both;
}
.cardphoto a{
  text-decoration: none;
  color:gray;
}
.blog-info-conetents li{
  list-style: none;
}
.magazine-name{
  position: absolute;
  left:12.5%;
}
.issue-date{
  position: absolute;
  left:25%
}
.author{
  position: absolute;
  right:12.5%
}
.author::before{
  content:"by ";
  font-size:0.9rem;
  font-style: italic;
}

.pad{
  padding-left:12.5%;
  padding-right:12.5%;
}
.blog-article-box h1{
  font-size:3rem;
}

.next, .prev{
  display: inline-block;
}
