<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head.ejs %>

</head>
<body>
  <% include ./partials/header.ejs %>
  <h1>chat.ejs</h1>
  <p>this is chattings page!!</p>
  <ul id="messages"></ul>
  <form action=""><input type="text" id="m" autocomplete="off">  <button>send</button></form>
  <!-- <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script> -->
  <script
  src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
  integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
  crossorigin="anonymous"></script>
  <script src = "/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    $('form').submit(function(){
      socket.emit("chat message", $('#m').val());
      $('#m').val("");
      return false;
    });
    socket.on("chat message", function(msg){
      console.log(msg);
      $('#messages').append($('<li>').text(msg));
    });
  </script>

</body>
</html>
