<header>
  <h3>Header</h3>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/usersjson">Usersjson. /number to get specific json</a></li>
    <li><a href="/usersjson/random">random user json</a></li>
    <li><a href="/chat">chatting</a></li>
  </ul>
</header>
