@import url("../font/font.css");
/*common class*/
.clearfix::after{
  content:"";
  display:block;
  clear:both;
}
html{overflow: hidden;}

.dropcap::first-letter{
  font-size:5rem;
  float:left;
  line-height: 0.8em;
  margin-right:10px;
}
.dropcap.offset-15::first-letter{
  margin-top:-0.2em;
  margin-bottom: 0.2em;
}
abbr{cursor: help;}

@media print{
  body{
    background : #fff !important;
    color : #000 !important;  }
  abbr:after {    content: '('attr(title)')';  }
}
.center-align{
display:flex;
justify-content:center;
align-items:center;
}

/*end of common class*/

.target{
  font-size: 2rem;
  color: brown;
}
