<!DOCTYPE html>
<html lang="ko" data-ng-app>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="css/font.css">
  <link rel="stylesheet" href="css/initialize/reset.css">
  <link rel="stylesheet" href="css/initialize/normalize.css">
  <link rel="stylesheet" href="css/initialize/ress.css">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/grid.css">
  <link rel="stylesheet" href="css/ui.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="./js/module/angular.js"></script>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- [if IE 9]><link rel="stylesheet" href="./css/cross-browsing/ie9.css"><![endif] -->
  <!--[if IE 8]><link rel="stylesheet" href="./css/cross-browsing/ie8.css"> <![endif]-->
  <!--[if IE 7]><link rel="stylesheet" href="./css/cross-browsing/ie7.css"><![endif]-->
  <!--[if IE 6]><link rel="stylesheet" href="./css/cross-browsing/ie6.css"><![endif]-->
  <!-- [if !IE]><!--> <link rel="stylesheet" href="css/cross-browsing/modern.css"> <!--<![endif]-->
</head>
<body>
  <div class="wrapper">
    <h1 class="row-a" data-ng-init="version='1.0'">
      angular version : {{version}}
    </h1>
    <button type="button" data-ng-click="is_show=!is_show"></button>
    <div class="ui-accordian">
    <div>
      <h3 class="tab"><a href="">탭탭태배탭</a></h3>
      <div class="tabpanel">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat ad officiis accusantium cupiditate aut eos provident minus tempore, labore modi qui cumque, a, aliquid, blanditiis veniam dicta doloremque consequuntur sint.</div>
    </div>
    <div>
      <h3 class="tab"><a href="">탭탭태배탭</a></h3>
      <div class="tabpanel">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat ad officiis accusantium cupiditate aut eos provident minus tempore, labore modi qui cumque, a, aliquid, blanditiis veniam dicta doloremque consequuntur sint.</div>
    </div>
    <div>
      <h3 class="tab"><a href="">탭탭태배탭</a></h3>
      <div class="tabpanel">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat ad officiis accusantium cupiditate aut eos provident minus tempore, labore modi qui cumque, a, aliquid, blanditiis veniam dicta doloremque consequuntur sint.</div>
    </div>
    </div>
      <a href="/">back</a>

      <h1>Angular Accordian Tab Menu</h1>

      <div class="ui-accordian" data-ng-init="
        accordian_tab_01_show = true;
        accordian_tab_02_show = false;
        accordian_tab_03_show = false;
      ">
        <h3 class="ui-accordian-tab">
          <a href="" data-ng-click="accordian_tab_01_show = !accordian_tab_01_show">tab 1</a>
        </h3>
        <div data-ng-show="accordian_tab_01_show" class="ui-accordian-tabpanel">Molestiae debitis ab maxime voluptatum sit. Nesciunt laborum temporibus recusandae earum iste, tempora. Illo nam sed harum voluptatum rerum, incidunt sapiente iure, nostrum aliquid aliquam molestiae quaerat provident magnam maiores, non corporis facilis repellendus voluptas nisi est. Repudiandae, aliquid temporibus corporis nihil iusto eum, velit nisi cumque incidunt nam provident dicta illum minus dolorem, accusantium labore obcaecati.</div>
        <h3 class="ui-accordian-tab">
          <a href="" data-ng-click="accordian_tab_02_show = !accordian_tab_02_show">tab 2</a>
        </h3>
        <div data-ng-show="accordian_tab_02_show" class="ui-accordian-tabpanel">ab maxime voluptatum sit. Nesciunt laborum temporibus recusandae earum iste, tempora. Illo nam sed harum voluptatum rerum, incidunt sapiente iure, nostrum aliquid aliquam molestiae quaerat provident magnam maiores, non corporis facilis repellendus voluptas nisi est. Repudiandae, aliquid temporibus corporis nihil iusto eum, velit nisi cumque incidunt nam provident dicta illum minus dolorem, accusantium labore obcaecati.</div>
        <h3 class="ui-accordian-tab">
          <a href="" data-ng-click="accordian_tab_03_show = !accordian_tab_03_show">tab 3</a>
        </h3>
        <div data-ng-show="accordian_tab_03_show" class="ui-accordian-tabpanel">Illo nam sed harum voluptatum rerum, incidunt sapiente iure, nostrum aliquid aliquam molestiae quaerat provident magnam maiores, non corporis facilis repellendus voluptas nisi est. Repudiandae, aliquid temporibus corporis nihil iusto eum, velit nisi cumque incidunt nam provident dicta illum minus dolorem, accusantium labore obcaecati.</div>
      </div>
  </div>
  <script src="./js/module/jquery-3.1.1.min.js"></script>
  <script src="./js/module/utils.js"></script>
  <script src="./js/js-main.js"></script>
</body>
</html>
