@import url("../font/font.css");
/*common class*/
.clearfix::after{
  content:"";
  display:block;
  clear:both;
}
.lalezar{font-family: 'Lalezar', cursive;}
.salbo{font-family: 'Slabo 27px', serif;}
.dropcap::first-letter{
  font-size:5rem;
  float:left;
  line-height: 0.8em;
  margin-right:10px;
}
.dropcap.offset-15::first-letter{
  margin-top:-0.2em;
  margin-bottom: 0.2em;
}
abbr{cursor: help;}

@media print{
  body{
    background : #fff !important;
    color : #000 !important;  }
  abbr:after {    content: '('attr(title)')';  }
}
.center-align{
display:flex;
justify-content:center;
align-items:center;
}
/*end of common class*/
.box{
  position: relative;
  width: 300px;
  height: 70px;
  margin: 1em;
  background: #ff0;
  text-transform: uppercase;
}
.box::after{
  content:"";
  position: absolute;
  background: #f00;
  width:100px;
  height:300px;
  display: block;
  /*top:0;
  left:0;*/
  /*top:90%;
  right:100%;
  bottom:0;
  left:0;
  transition: all 0.4s;*/
}
.box:hover::after{
  content:"";
  position: absolute;
  background: #f00;
  right:100%;
  bottom:0;
  top:0;
}
