h1{
  color : brown;
}
body{
  font: 13px Helvetica, Arial;
}
form{
  background: silver;
  padding: 10px;
  display: inline-block;
}

#messages{
  background: silver;
  list-style-type: none;
  margin: 0;
}
#messages li{
  padding: 5px 10px;
}
#messages li:nth-child(odd){
  background: #eee;
}
